.formWrapper {
    display: flex;
    justify-content: center;
}

.formBlock {
    display: inline-block;
}

.alertBlock {
    height: 70px;
    width:100%;
}

.form {
    display: inline-block;
}

.inputGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputField {
    height: 28px;
    width: 320px;
    margin-bottom: 40px;
    font-size: 14px;
}

.submitBtn {
    width: 100%;
    border: 1px solid blue;
    padding: 10px 50px;
    background-color: blue;
    opacity: .94;
    color: white;
    text-transform: uppercase;
    transition: opacity .2s ease-out;
}

.submitBtn:hover {
    opacity: .75;
}
.submitBtn:disabled {
    opacity: .5;
}

.inputBox {
    display: flex;
    flex-direction: column;
    position: relative;
    height: min-content;
}


.inputBox label {
    position: absolute;
    top: -3px;
    left: 5px;
    padding: 0.625rem 0;
    font-size: 15px;
    color: black;
    pointer-events: none;
    transition: 0.25s;
    opacity: .6;
}

.inputField:focus ~ label,
.inputField:not([value=""]) ~ label
{
    top: -35px;
    left: 0;
    color: darkblue;
    opacity: 1;
    font-size: 14px;
}