.text {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.btn {
    cursor: pointer;
    background-color: #345EB4;
    padding: 10px 23px;
    border-radius: 20px;
    border: none;
    transition: opacity .15s ease-out;
}

.btn:hover {
    opacity: .8;
}