/*ERRORS*/
.errorWrap {
    margin-top: 10px;
    padding: 10px 16px;
    border: 1px solid darkred;
    color: darkred;
    font-weight: 700;
}

.groupRow {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}



.groupTitle {
    display: flex;
    color: white;
    font-size: 20px;
    margin-bottom: 9px;
    margin-top: 0;
}

.groupDesc {
    margin-bottom: 30px;
    color: white;
    font-style: italic;
    opacity: .85;
    font-size: 17px;
}

.groupTeacher {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
}

.docsWrap {
    margin: 36px 0 30px 0;
}

.docsTitle {
    font-size: 17px;
    color: white;
    font-weight: 600;
}

/*chat*/

.chatWrap {
    margin-top: 25px;
    margin-bottom: 50px;
}

.chatTitle {
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-bottom: 3px;
}

.backToProfile {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    transition: color .2s ease;
}

.backToProfile:hover {
    color: cornflowerblue;
}
