.messagesWrap {
    width: 500px;
    height: 300px;
    max-height: 200px;
    border: none;
    overflow: auto;
    padding: 20px 30px;
    background-color: #504C60;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.messagesWrap__light {
    background-color: #7B7692;
}

.messWrap {
    margin-bottom: 25px;
    background: #BFBABA;
    border-radius: 15px;
    padding: 15px 30px;
}

.messRow {
    display: flex;
    justify-content: space-between;
}

.messText {
    overflow: hidden;
    width: 400px;
    white-space: normal;
    margin-top: 10px;
    margin-bottom: 6px;
    color: black;
    font-size: 18px;
}

.messTime {
    color: black;
    font-size: 12px;
    opacity: .9;
}

.messSender {
    font-weight: 700;
    color: darkblue;
    font-size: 15px;
}

