.container {
    max-width: 700px;
    margin-bottom: 50px;
    text-align: left;
}

.welcome {
    font-size: 18px;
    color: white
}
.welcome__light {
    color: black
}


.title {
    color: white
}