.container {
    max-width: 700px;
    margin-bottom: 50px;
}

.text {
    font-size: 15px;
    color: black
}

.gimn {
    color: white;
    font-size: 19px;
    margin-bottom: 50px;
}

.title {
    color: white
}