.wrap {
    max-width: 400px;
}
.text {
    text-align: left;
    color: white;
    font-size: 15px;
}

.backLink {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    transition: color .2s ease;
}

.backLink:hover {
    color: cornflowerblue;
}