.container {
    height: 90vh;
    display: flex;
    /*overflow: auto;*/
    /*justify-content: space-between;*/
    /*margin-top: 50px;*/
}

.subjectsWrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.Wrapper {
    padding-top: 30px;
    overflow: auto;
    height: 100%;
    width: 80%;
    padding-left: 40px;
    background: #1E2942;
}

.Wrapper__light {
    background: #C8D0E5;
}

.subjectTitleWrap {
    align-items: center;
    display: flex;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #C4C4C4;
    padding: 14px 20px;
    transition: background-color .15s ease;
}

.subjectTitleWrap:hover {
    background-color: rgba(74,125,201,.55);
}

.subjectTitleWrapActive {
    background-color: rgba(74,125,201,.75);
}


.subjectTitle {
    text-align: center;
    color: black;
    font-size: 19px;
    width: 240px;
}

.groupWrapper {
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}



/*.groupItem {
    color: black;
}*/

.SubjectGroupWrapper {
/*    cursor: pointer;
    border: 1px solid chocolate;
    padding: 50px 0;
    width: 300px;
    color: black;
    background-color: cornflowerblue;*/
}

/*subject GROUP STYLES*/






