.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.subjectsWrapper {
    display: flex;
    flex-direction: column;
}

.subjectTitleWrap {
    cursor: pointer;
    border: 1px solid black;
    padding: 12px 16px;
    display: inline-block;
    width: max-content;
}

.subjectTitleWrap:hover {
    background-color: beige;
}

.subjectTitleWrap:active {
    background-color: peachpuff;
}


.subjectTitle {
    text-align: center;
    color: black;
    font-size: 19px;
    width: 240px;
}

.groupWrapper {
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}



/*.groupItem {
    color: black;
}*/

.SubjectGroupWrapper {
/*    cursor: pointer;
    border: 1px solid chocolate;
    padding: 50px 0;
    width: 300px;
    color: black;
    background-color: cornflowerblue;*/
}

/*subject GROUP STYLES*/






