.tableWrap {
    margin-left: 15px;
    margin-right: 15px;
}

.table {
    margin: 0 auto;
}

.tableHead {
    font-weight: 400;
}

.tableRow {
    padding: 10px 14px;
    /*margin-bottom: 20px;*/
    color: black;
    font-weight: 400;
}

.th {
    font-weight: 400;
}

.tr {
    height: max-content;
}
.tr:hover {
}

/*INTO THE ROW BY COLUMNS*/

.index {
    min-width: 30px;
    /*padding-right: 20px;*/
    color: black;
    font-weight: 400;
}

.fio {
    min-width: 240px;
    font-weight: 400;
    /*padding-right: 10px;*/
    color: black;
}

.group {
    padding-left: 10px;
    min-width: 70px;
    font-weight: 400;
    color: black;
    /*padding-right: 10px;*/
}

.status {
    padding-left: 10px;
    min-width: 40px;
    /*text-align: left;*/
    font-weight: 400;
}

/*ЯЧЕЙКИ В BODY:*/

.indexBody {
    text-align: center;
    color: white;
    font-weight: 400;
}

.fioBody {
    height: 30px;
    font-weight: 400;
    color: white;
}

.groupBody {
    font-weight: 400;
    color: white;
}

.statusBody {
    text-align: center;
    font-weight: 400;
}



.addStudent {
    background: url("../../../assets/icons/plus.svg");
    background-size: 18px;
    width: 18px;
    height: 18px;
    border: none;
    opacity: .6;
/*    padding: 4px 10px;
    background-color: blue;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color .1s ease;*/
}

.addStudent:hover {
    opacity: 1;
    cursor: pointer;
    /*background-color: forestgreen;*/
}

.isAdd {
    background: url("../../../assets/icons/confirm.svg");
    background-size: 18px;
    width: 18px;
    height: 18px;
    border: none;
}

.nothing {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

