.container {

}


.titleWrap {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}


.searchForm {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.sendFormBtn {
    margin-top: 8px;
    margin-left: 8px;
    background: url("../../assets/icons/search.svg");
    opacity: .7;
    background-size: 18px;
    width: 18px;
    height: 18px;
    padding: 9px 5px;
    border: none;
    cursor: pointer;
    transition: opacity .2s ease-out;
}

.sendFormBtn:hover {
    opacity: 1;
}



.searchInput {
    border: none;
    padding: 9px 36px 9px 8px;
    font-size: 14px;
}

.searchInput:focus {
}

.searchInputError {
/*    !*    margin-top: 7px;*!
    padding: 9px 14px;
    !*border: 1px solid red;*!
    font-size: 14px;*/
}

.searchInputError:focus {
    border: none;
}

.makeTeamWrap {
    margin-top: 50px;
}

.makeTeamBtn {
    background: #34B45E;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    padding: 15px 23px;
    transition: opacity .1s ease;
    cursor: pointer;
    margin-bottom: 40px;
}
.makeTeamBtn:hover {
    opacity: .65;
}

/*.makeTeamBtn:active {
    background-color: darkblue;
}*/

.makeTeamBtn:disabled {
    opacity: .55;
    cursor: default;
}


/*LIST OF STUDENTS*/


.studentListTitle {
    margin: 0;
    padding: 10px 0 10px 20px;
    text-align: left;
    color: #34B45E;
    font-size: 20px;
    font-weight: 600;
}

.listWrap {

}

.listItemsWrap {
    min-height: 136px;
    background-color: #514D60;
    width: 400px;
    border-radius: 8px;
}


.listItem {
    padding: 10px 35px 12px 35px;
    display: flex;
    justify-content: space-between;
    transition: background-color .15s ease;
}

.listItem:hover {
    background-color: rgba(107, 194, 200, 1);
}


.studentName {
    color: white;
    font-size: 18px;
}

.studentFlag {
    background-image: url("../../assets/icons/cross.svg");
    background-size: 18px;
    margin-top: 2px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    cursor: pointer;
    opacity: .2;
    transition: opacity .15s ease;
    font-weight: 700;
}

.studentFlag:hover {
    opacity: 1;
}



.studentItemLeft {
    display: flex;
    align-items: center;
}

.studentIndex {
    margin-right: 4px;
    color: white;
    font-weight: 400;
    font-size: 14px;
}




/*Link to Profile*/

.backToProfile {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    transition: color .2s ease;
}

.backToProfile:hover {
    color: cornflowerblue;
}

/*TEAM NAME STYLES*/

.inputWrap {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.inputLabel {
    color: #34B45E;
    font-size: 16px;
    margin-bottom: 5px;
}

.inputName {
    max-width: max-content;
    padding: 7px 13px;
    border: 1px solid transparent;
    color: black;
    background: #E5E3E6;
    opacity: .86;
    border-radius: 5px;
    font-size: 14px;
    outline: none   ;
}
.inputName:hover,
.inputName:focus {
    border: 1px solid #345EB4;
}

/*wrap base info*/

.baseInfoWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.baseInfoWrap > *{
    width: 50%
}



/*MARK-UP*/

.box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.leftBox {
    min-width: 460px;
    background: #514D60;
    border-radius: 8px;
    padding-bottom: 25px;
}

.emptyStudentList {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.findError {
    color: red;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.findErrorWrap {
    height: 30px;
}


.findInputWrap {
    margin: 0 auto;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid transparent;
    width: max-content;
    display: flex;
    /*    flex-direction: column;*/
}