.container {

}

.title {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}


.searchForm {
    margin-bottom: 30px;
}

.sendFormBtn {
    padding: 9px 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color .2s ease-out;
}

.sendFormBtn:hover {
    background-color: chocolate;
}



.searchInput {
/*    margin-top: 7px;*/
    padding: 9px 14px;
    border: 1px solid black;
    font-size: 14px;
}

.searchInput:focus {
    border: 1px solid blue
}

.searchInputError {
/*    margin-top: 7px;*/
    padding: 9px 14px;
    border: 1px solid red;
    font-size: 14px;
}

.searchInputError:focus {
    border: 1px solid blue;
}

.makeTeamWrap {
    margin-top: 50px;
}

.makeTeamBtn {
    cursor: pointer;
    padding: 8px 20px;
    color: black;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s ease;
}
.makeTeamBtn:hover {
    opacity: .85;
}

/*.makeTeamBtn:active {
    background-color: darkblue;
}*/

.makeTeamBtn:disabled {
    opacity: .55;
    cursor: default;
}


/*LIST OF STUDENTS*/


.studentListTitle {
    padding: 10px 35px 12px 35px;
    text-align: center;
    color: black;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
}

.listWrap {

}

.listItemsWrap {
    background-color: rgba(196, 196, 196, .95);
    width: 400px;
}


.listItem {
    padding: 10px 35px 12px 35px;
    display: flex;
    justify-content: space-between;
}

.listItem:hover {
    background-color: rgba(107, 194, 200, 1);
}


.studentName {
    color: black;
    font-size: 18px;
}

.studentFlag {
    margin-left: 5px;
    cursor: pointer;
    opacity: .2;
    transition: opacity .1s ease;
    font-weight: 700;
}

.studentFlag:hover {
    opacity: 1;
}



.studentItemLeft {
    display: flex;
}

.studentIndex {
    margin-right: 4px;
    color: black;
}




/*Link to Profile*/

.backToProfile {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    transition: color .2s ease;
}

.backToProfile:hover {
    color: cornflowerblue;
}

/*TEAM NAME STYLES*/

.inputWrap {
    margin-bottom: 40px;
}

.inputName {
    padding: 7px 13px;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    outline: none   ;
}
.inputName:hover,
.inputName:focus {
    border: 1px solid blue;
}

/*wrap base info*/

.baseInfoWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.baseInfoWrap > *{
    width: 50%
}



/*MARK-UP*/

.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.leftBox {

    margin-right: 100px;
}

.emptyStudentList {
    text-transform: uppercase;
    color: red;
    text-align: center;
    padding-bottom: 20px;
}

.findError {
    color: red;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.findInputWrap {
    width: max-content;
    display: flex;
/*    flex-direction: column;*/
}
